{% extends "layouts/base.html" %}

{% block main_content %}
<div class="card col-lg-6" style="position: relative;margin:auto">
<div class="card-body">
    {% if error %}
        {{error}}
    {% endif %}
    <form action="/indicators" method="POST" class="frm">
        <h3 class="form_header">
            Add New Indicator
        </h3>
        <label>Nice Name</label>
        <input type="text" name="nicename"   class="form-control" placeholder="Electricity Consumption" />
        <br />
        <label>Code</label>
        <input type="text" class="form-control" name="code"  placeholder="EG.USE.ELEC.KH.PC"/>
        <label>&nbsp;</label>
        <br />
        <button type="submit" class="btn btn-primary">Add Indicator</button>
    </form>
</div>
</div>
<br /><br />

<br />

{% if data %}
<div class="card col-lg-12" style="position: relative;margin-top: 50px;">
<br />
List of Indicators
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>N0.#</th>
            <th>Nice Name</th>
            <th> Code</th>
        </tr>
    </thead>
    <tbody>

  
    {% for variable in data %}
        <tr>
            <td>
                {{variable[0]}}
            </td>
            <td>
                {{variable[1]}}
            </td>
            <td>
                {{variable[2]}}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endblock %}